.monster {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.monster img {
  width: 400px;
  height: auto;
  margin-right: 15px;
  border: 2px solid #555;
  border-radius: 5px;
}

.nev {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  
}



#index {
    background:url(hatter.webp) no-repeat fixed center ;
    background-size: 2500px 1700px;
}

p, h1  {
    text-align: center;
    color: rgb(0, 0, 0);
   font-weight: bold;
   
   
   
}

#bevezeto {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

.egesz {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  
  
}
   
h2 {
    text-align: left;
    color: chocolate;
    font-weight: bold;
}



ul {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}    



body {
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
}

div.szovoghatter {
     opacity: 0,3;
    color: white;
}  


#wendigo2 {
    color: chocolate;

}

.monster2 {
   text-align: left ;
   font-size: 20px;
  
   
}


iframe {
   width: 800px;
  height: 400px;
  display: block;
  margin: auto;
   
  
}

a {
    font-size:20px;
    color:chocolate;
    text-decoration-line: none;    
}

th {
    text-align: center;
    border-color:black;
    border-width:2px;
    width: 16%;
    height: 40px;

}

table {
    width: auto;
}


#fejlec {
    width: 100%;
    background-color:peachpuff;
    
    
}

.fejlec_m {
  height: 50px;
}

thead {
    color: white;
}

.monster_table{
  text-align: center;
  background-color: peachpuff;
  color: black;
  
  

}

.m_tr {
  height: 100px;
  border-width:2px;
  border-color:black;
}

#krakenbody {
  background-image: url(kraken_nagy.png);
}

#leviatánbody {
  background-image: url(leviatán_nagy.png);
}
#wendigobody {
  background-image:url(wendigo_nagy.png) ;
}

#nianbody {
  background-image: url(nian_nagy.png);
}

#hydrabody {
  background-image: url(Hydra_nagy.png);
}

#idk {
  background-color: rgba(255, 255, 255, 0.7);
}





 
