.monster {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.monster img {
  width: 400px;
  height: auto;
  margin-right: 15px;
  border: 2px solid #555;
  border-radius: 5px;
}

.label {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  
}



#index {
    background:url(hatter.webp) no-repeat fixed center ;
    background-size: 2500px 1700px;
}

p, h1  {
    text-align: center;
    color: rgb(0, 0, 0);
   font-weight: bold;
   
   
   
}

#bevezeto {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.egesz {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  
  
}
   
h2 {
    text-align: left;
    color: burlywood;
    font-weight: bold;
}



ul {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}    



 body {
    
    background-image:url(wendigo_nagy.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

div.szovoghatter {
     opacity: 0,3;
    color: white;
}  


#wendigo2 {
    color: burlywood;

}

.monster2 {
   text-align: left ;
   font-size: 20px;
  
   
}

#fejlec {
    
}
