 img {
    width: 400px;


}

#index {
    background-image: url(hatter.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

p, h1,  {
    text-align: center;
    color: white;
   font-weight: bold;
   
}
   
h2 {
    text-align: left;
    color: white;
    font-weight: bold;
}



ul {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}    



 body {
    
    background-image:url(wendigo_nagy.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

div.szovoghatter {
     opacity: 0,3;
    color: burlywood;
}   
